@import url(https://fonts.googleapis.com/css?family=Audiowide:regular&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: Audiowide;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Audiowide;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #141414;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 108.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2.8125rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8125rem 0px;
  background-color: #C71616;
  border: 0.0625rem solid #000000;
  box-shadow: 0px 0.3125rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  line-height: 1.28;
  transition: all 0.3s ease 0s;
}
@supports (font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem )) {
  .button {
    font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem )) {
  .button {
    font-size: calc(0.9375rem + 0.625 * (100vw - 20rem) / 94.375);
  }
}
.button_grey {
  background-color: #3C3C3C;
}
@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0px 0.9375rem 0.875rem rgba(0, 0, 0, 0.3);
  }
}
.button._fw {
  width: 100%;
}

.tabs-list__navigation {
  display: flex;
  gap: 0.625rem;
  border-bottom: 0.125rem solid #373737;
}
.tabs-list__navigation:not(:last-child) {
  margin-bottom: 2.125rem;
}
.tabs-list__title {
  font-size: 0.9375rem;
  line-height: 1;
  text-transform: uppercase;
  background-color: #373737;
  padding: 0.625rem 0.9375rem;
}
.body-tabs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
  gap: 2.5rem;
}
.item-tabs-list {
  position: relative;
}
.item-tabs-list__img {
  width: 100%;
}
.item-tabs-list__img img {
  width: 100%;
}
.item-tabs-list__rating {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  gap: 0.3125rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141414;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border-radius: 0px 0px 0.6875rem 0px;
}
.item-tabs-list__rating_green path {
  fill: #00EE0A;
}
.item-tabs-list__like {
  position: absolute;
  top: 0;
  right: 0;
}
.item-tabs-list__content {
  background-color: #141414;
  opacity: 0.96;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0rem 0.375rem 1.6875rem 0.375rem;
}

.content-tabs-list__title {
  text-align: center;
}
.content-tabs-list__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.content-tabs-list__episode {
  display: flex;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
}
.content-tabs-list__num {
  flex: 1 1 auto;
  font-size: 0.75rem;
  line-height: 1.25;
}
.content-tabs-list__num span {
  color: #FF0000;
}
.content-tabs-list__day {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #FF0000;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.page-background {
  background: url("../img/page-background/01.png") right no-repeat;
}

.anime-pictures__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-page {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.0625rem solid #FF0000;
}
.logo-page__title {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.275;
}
@media (max-width: 29.99875em) {
  .logo-page__img {
    display: none;
  }
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.swiper-pagination-bullet {
  display: block;
  position: relative;
  z-index: 2;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #ffffff;
  outline: 0rem solid #D70303;
  transition: all 0.2s linear 0s;
}
.swiper-pagination-bullet-active {
  outline: 0.375rem solid #D70303;
}

.arrows {
  display: flex;
  gap: 0.9375rem;
}
.arrows__prev {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.arrows__next {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sign-container {
  max-width: 54.875rem;
  position: relative;
}
.sign-container::after {
  content: "";
  background: url("../img/sign-in/bg-big-logo.png") 0 0 no-repeat;
  position: absolute;
  top: -30%;
  left: -23%;
  width: 45rem;
  height: 45rem;
  z-index: -1;
}

.sign-inner {
  border-bottom: 1px solid #414141;
}

.sign-title {
  text-align: right;
  color: #FF0000;
  line-height: 1.2727272727;
}
@supports (font-size: clamp( 2.875rem , 2.755794702rem  +  0.5960264901vw , 3.4375rem )) {
  .sign-title {
    font-size: clamp( 2.875rem , 2.755794702rem  +  0.5960264901vw , 3.4375rem );
  }
}
@supports not (font-size: clamp( 2.875rem , 2.755794702rem  +  0.5960264901vw , 3.4375rem )) {
  .sign-title {
    font-size: calc(2.875rem + 0.5625 * (100vw - 20rem) / 94.375);
  }
}
.sign-title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.sign-content {
  max-width: 39.25rem;
  text-align: center;
  margin: 0 auto;
}

.form-sign__input {
  width: 100%;
  background-color: #383838;
  border-radius: 0.625rem;
}
@supports (margin-bottom: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem )) {
  .form-sign__input:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem )) {
  .form-sign__input:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 94.375);
  }
}
.form-sign__input input {
  width: 100%;
  background-color: transparent;
  padding: 1.25rem 1.875rem;
  line-height: 1.28;
  color: #ffffff;
}
@supports (font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem )) {
  .form-sign__input input {
    font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem )) {
  .form-sign__input input {
    font-size: calc(0.875rem + 0.6875 * (100vw - 20rem) / 94.375);
  }
}
.form-sign__input input::placeholder {
  line-height: 1.28;
  color: #ffffff;
}
@supports (font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem )) {
  .form-sign__input input::placeholder {
    font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.7293046358rem  +  0.7284768212vw , 1.5625rem )) {
  .form-sign__input input::placeholder {
    font-size: calc(0.875rem + 0.6875 * (100vw - 20rem) / 94.375);
  }
}
.form-sign__button {
  width: 26.25rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .form-sign__button {
    width: 100%;
  }
}

.sign-bottom {
  text-align: center;
}
.sign-bottom__title {
  font-size: 1.5625rem;
  line-height: 1.28;
}
.sign-bottom__link {
  font-size: 1.5625rem;
  line-height: 1.28;
  color: #FF0000;
}

.header {
  line-height: 1.2666666667;
  display: flex;
  justify-content: end;
  position: relative;
}
.menu-open .header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #141414;
  z-index: 11;
}
@supports (padding: clamp( 0.9375rem , 0.7388245033rem  +  0.9933774834vw , 1.875rem )) {
  .header__inner {
    padding: clamp( 0.9375rem , 0.7388245033rem  +  0.9933774834vw , 1.875rem );
  }
}
@supports not (padding: clamp( 0.9375rem , 0.7388245033rem  +  0.9933774834vw , 1.875rem )) {
  .header__inner {
    padding: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 94.375);
  }
}
@media (min-width: 47.99875em) {
  .header__inner_hub {
    padding-bottom: 0rem;
  }
}
.menu-header__list {
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 29.99875em) {
  .menu-header__list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-top: 6.25rem;
    background-color: #3C3C3C;
    transition: all 0.3s ease 0s;
    gap: 1.875rem;
    z-index: 10;
    overflow: auto;
  }
  .menu-open .menu-header__list {
    top: 0;
  }
}
@media (min-width: 29.99875em) {
  .list-header__item:not(:last-child) {
    padding-right: 0.625rem;
    border-right: 0.0625rem solid #FFFFFF;
  }
}
.list-header__link {
  text-transform: uppercase;
  font-size: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .list-header__link {
    font-size: 1.5625rem;
  }
}
@media (any-hover: hover) {
  .list-header__link:hover {
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 29.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 12;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #ffffff;
    z-index: 12;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.main-page {
  position: relative;
}
.main-page::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: -5rem;
  left: 0;
  width: 100%;
  background-color: #242424;
}
@supports (height: clamp( 40.625rem , 39.565397351rem  +  5.298013245vw , 45.625rem )) {
  .main-page::after {
    height: clamp( 40.625rem , 39.565397351rem  +  5.298013245vw , 45.625rem );
  }
}
@supports not (height: clamp( 40.625rem , 39.565397351rem  +  5.298013245vw , 45.625rem )) {
  .main-page::after {
    height: calc(40.625rem + 5 * (100vw - 20rem) / 94.375);
  }
}
.main-page__content {
  max-width: 61.75rem;
}
.main-page__title {
  font-size: 4.375rem;
  line-height: 1.2714285714;
  text-shadow: 21px 22px 4px rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 2;
}
@supports (font-size: clamp( 2.25rem , 1.7996688742rem  +  2.2516556291vw , 4.375rem )) {
  .main-page__title {
    font-size: clamp( 2.25rem , 1.7996688742rem  +  2.2516556291vw , 4.375rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 1.7996688742rem  +  2.2516556291vw , 4.375rem )) {
  .main-page__title {
    font-size: calc(2.25rem + 2.125 * (100vw - 20rem) / 94.375);
  }
}
.main-page__title:not(:last-child):not(:last-child) {
  margin-bottom: 0.8857142857em;
}
.main-page__slider {
  position: relative;
  z-index: 2;
}
.main-page__slider:not(:last-child) {
  margin-bottom: 3.6875rem;
}
.main-page__slide p {
  line-height: 1.28;
}
@supports (font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem )) {
  .main-page__slide p {
    font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 0.9375rem , 0.8050496689rem  +  0.6622516556vw , 1.5625rem )) {
  .main-page__slide p {
    font-size: calc(0.9375rem + 0.625 * (100vw - 20rem) / 94.375);
  }
}
@supports (margin-bottom: clamp( 1.25rem , 0.9188741722rem  +  1.6556291391vw , 2.8125rem )) {
  .main-page__slide p:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.9188741722rem  +  1.6556291391vw , 2.8125rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.9188741722rem  +  1.6556291391vw , 2.8125rem )) {
  .main-page__slide p:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 94.375);
  }
}
.main-page__pagination:not(:last-child) {
  margin-bottom: 2.625rem;
}
.main-page__button {
  position: relative;
  z-index: 2;
}
@supports (width: clamp( 12.5rem , 11.8377483444rem  +  3.3112582781vw , 15.625rem )) {
  .main-page__button {
    width: clamp( 12.5rem , 11.8377483444rem  +  3.3112582781vw , 15.625rem );
  }
}
@supports not (width: clamp( 12.5rem , 11.8377483444rem  +  3.3112582781vw , 15.625rem )) {
  .main-page__button {
    width: calc(12.5rem + 3.125 * (100vw - 20rem) / 94.375);
  }
}
.main-page__image {
  position: absolute;
  top: 7.5%;
  left: 52.3958333333%;
  z-index: 1;
}
@media (max-width: 47.99875em) {
  .main-page__image {
    top: 0;
    left: 20%;
  }
}

.logo-anime-pictures {
  padding: 1.875rem 1.875rem 0rem 1.875rem;
}
.logo-anime-pictures:not(:last-child) {
  margin-bottom: 5.3125rem;
}

.anime-pictures__slider:not(:last-child) {
  margin-bottom: 2.125rem;
}
.anime-pictures__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime-pictures__pagination:not(:last-child) {
  margin-bottom: 1.875rem;
}
.anime-pictures__button {
  margin-bottom: 6.75rem;
  width: 22.9375rem;
}

.slide-anime-pictures__img img {
  max-width: 100%;
  border-radius: 2.8125rem;
}

.logo-join {
  padding: 1.875rem 1.875rem 0rem 1.875rem;
}
@supports (margin-bottom: clamp( 9.375rem , 8.7127483444rem  +  3.3112582781vw , 12.5rem )) {
  .logo-join:not(:last-child) {
    margin-bottom: clamp( 9.375rem , 8.7127483444rem  +  3.3112582781vw , 12.5rem );
  }
}
@supports not (margin-bottom: clamp( 9.375rem , 8.7127483444rem  +  3.3112582781vw , 12.5rem )) {
  .logo-join:not(:last-child) {
    margin-bottom: calc(9.375rem + 3.125 * (100vw - 20rem) / 94.375);
  }
}
@media (max-width: 32.43625em) {
  .logo-join:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

.join-page__container {
  max-width: 70rem;
}
.join-page__inner {
  border-bottom: 0.125rem solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.join-page__content {
  max-width: 49.25rem;
}
.join-page__title {
  line-height: 1.28;
  text-transform: uppercase;
  position: relative;
  display: block;
}
@supports (font-size: clamp( 2.875rem , 2.8220198675rem  +  0.2649006623vw , 3.125rem )) {
  .join-page__title {
    font-size: clamp( 2.875rem , 2.8220198675rem  +  0.2649006623vw , 3.125rem );
  }
}
@supports not (font-size: clamp( 2.875rem , 2.8220198675rem  +  0.2649006623vw , 3.125rem )) {
  .join-page__title {
    font-size: calc(2.875rem + 0.25 * (100vw - 20rem) / 94.375);
  }
}
.join-page__title::after {
  content: "";
  background: url("../img/join/logo-bg.png") center/cover no-repeat;
  position: absolute;
  top: -170%;
  left: 22%;
  z-index: -1;
}
@supports (width: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem )) {
  .join-page__title::after {
    width: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem );
  }
}
@supports not (width: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem )) {
  .join-page__title::after {
    width: calc(12.5rem + 5.875 * (100vw - 20rem) / 94.375);
  }
}
@supports (height: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem )) {
  .join-page__title::after {
    height: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem );
  }
}
@supports not (height: clamp( 12.5rem , 11.2549668874rem  +  6.2251655629vw , 18.375rem )) {
  .join-page__title::after {
    height: calc(12.5rem + 5.875 * (100vw - 20rem) / 94.375);
  }
}
@media (max-width: 32.43625em) {
  .join-page__title::after {
    top: 0;
    left: 0;
  }
}
@supports (margin-bottom: clamp( 5rem , 3.6754966887rem  +  6.6225165563vw , 11.25rem )) {
  .join-page__title:not(:last-child) {
    margin-bottom: clamp( 5rem , 3.6754966887rem  +  6.6225165563vw , 11.25rem );
  }
}
@supports not (margin-bottom: clamp( 5rem , 3.6754966887rem  +  6.6225165563vw , 11.25rem )) {
  .join-page__title:not(:last-child) {
    margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 94.375);
  }
}
.join-page__text {
  line-height: 1.25;
}
.join-page__text:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.join-page__buttons {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 61.99875em) {
  .join-page__buttons {
    flex-direction: column;
    gap: 1.25rem;
  }
}
.join-page__button {
  width: 22.9375rem;
}
@media (max-width: 61.99875em) {
  .join-page__button {
    display: block;
    width: 100%;
  }
}
.join-page__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8.6875rem;
}

.socials-join-page__title {
  line-height: 1.25;
  text-align: center;
}
.socials-join-page__title span {
  color: #C71616;
}
.socials-join-page__links {
  display: flex;
}
@supports (gap: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem )) {
  .socials-join-page__links {
    gap: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem );
  }
}
@supports not (gap: clamp( 1.25rem , 0.8526490066rem  +  1.9867549669vw , 3.125rem )) {
  .socials-join-page__links {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 94.375);
  }
}
.logo-sign-in {
  padding: 1.875rem 1.875rem 0rem 1.875rem;
}
@supports (margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem )) {
  .logo-sign-in:not(:last-child) {
    margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem );
  }
}
@supports not (margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem )) {
  .logo-sign-in:not(:last-child) {
    margin-bottom: calc(6.25rem + 5.625 * (100vw - 20rem) / 94.375);
  }
}

.sign-in__inner:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sign-in__bottom {
  margin-bottom: 12.5rem;
}

.logo-sign-up {
  padding: 1.875rem 1.875rem 0rem 1.875rem;
}
@supports (margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem )) {
  .logo-sign-up:not(:last-child) {
    margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem );
  }
}
@supports not (margin-bottom: clamp( 6.25rem , 5.0579470199rem  +  5.9602649007vw , 11.875rem )) {
  .logo-sign-up:not(:last-child) {
    margin-bottom: calc(6.25rem + 5.625 * (100vw - 20rem) / 94.375);
  }
}

.sign-up__inner:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sign-up__bottom {
  margin-bottom: 6.25rem;
}

.logo-hub {
  margin-bottom: 2rem;
}
.logo-hub__inner {
  width: 100%;
  display: flex;
  padding: 0rem 1.875rem;
}
@media (max-width: 47.99875em) {
  .logo-hub__inner {
    flex-direction: column;
  }
}
@media (min-width: 47.99875em) {
  .logo-hub__inner {
    align-items: flex-end;
  }
}
.logo-hub__block {
  display: flex;
  align-items: flex-end;
}
.logo-hub__block:not(:last-child) {
  margin-right: 2.5rem;
}
@media (max-width: 61.99875em) {
  .logo-hub__block {
    display: none;
  }
}
.logo-hub__form {
  flex: 1 1 auto;
  max-width: 62.5rem;
}
.logo-hub__form:not(:last-child) {
  margin-right: 0.6875rem;
}
@media (min-width: 47.99875em) {
  .logo-hub__form {
    margin-bottom: 0.625rem;
  }
}
.logo-hub__random {
  display: flex;
  align-items: center;
}

.form-logo-hub {
  position: relative;
}
.form-logo-hub__search {
  background-color: #ffffff;
  border-radius: 1.25rem;
}
.form-logo-hub__search input {
  width: 100%;
  background-color: transparent;
  padding: 0.25rem 0.375rem 0.375rem 3.125rem;
  border-radius: 1.25rem;
}
.form-logo-hub__search input::placeholder {
  line-height: 1.25;
}
.form-logo-hub__img {
  position: absolute;
  left: 0.6875rem;
  top: 0.25rem;
}

.random-logo-hub__text {
  line-height: 1.2666666667;
}
@supports (font-size: clamp( 1.5625rem , 1.4962748344rem  +  0.3311258278vw , 1.875rem )) {
  .random-logo-hub__text {
    font-size: clamp( 1.5625rem , 1.4962748344rem  +  0.3311258278vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.5625rem , 1.4962748344rem  +  0.3311258278vw , 1.875rem )) {
  .random-logo-hub__text {
    font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 94.375);
  }
}

.anime-page__container {
  display: flex;
  gap: 1.875rem;
}
.anime-page__list {
  max-width: 78.125%;
}
.list-anime__top:not(:last-child) {
  margin-bottom: 2.5rem;
}

.top-list__slider {
  position: relative;
}
.top-list__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0px, -100%);
}
.top-list__arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-0.625rem, -20%);
}
.top-list__arrows_next path {
  fill: black;
}
.slide-top-list {
  position: relative;
  display: flex;
  gap: 1.25rem;
}
.slide-top-list__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: inset 0px 344px 6px rgba(0, 0, 0, 0.46);
  filter: blur(5px);
}
.slide-top-list__bg img {
  max-width: 100%;
}
.slide-top-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-top-list__img img {
  max-height: 16.875rem;
}
.slide-top-list__content {
  margin-top: 1.25rem;
  max-width: 62.5rem;
}
.slide-top-list__title {
  font-size: 1.875rem;
  line-height: 1.2666666667;
}
.slide-top-list__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.slide-top-list__text {
  line-height: 1.25;
}
.slide-top-list__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.slide-top-list__status {
  line-height: 1.25;
}
.slide-top-list__status span {
  color: #FF0000;
}

.user-anime__profile {
  background-color: #242424;
  padding: 0.9375rem 4.375rem;
}

.profile-user-anime__img:not(:last-child) {
  margin-bottom: 0.625rem;
}
.profile-user-anime__name {
  text-align: center;
  line-height: 1.25;
}
.profile-user-anime__name:not(:last-child) {
  margin-bottom: 1.25rem;
}
.profile-user-anime__profilelink {
  font-size: 1.125rem;
  line-height: 1.2777777778;
  width: 13.375rem;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
