//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: rem(13) 0px;
	background-color: $darkRed;
	border: rem(1) solid #000000;
	box-shadow: 0px rem(5) rem(4) rgba(0, 0, 0, 0.25);
	border-radius: rem(10);
	@include adaptiveValue("font-size", 25, 15);
	line-height: math.div(32, 25);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px rem(15) rem(14) rgba(0, 0, 0, 0.30);
		}
	}

	&._fw {
		width: 100%;
	}
}