//====================================================================================================

.header {
	line-height: math.div(19, 15);
	display: flex;
	justify-content: end;
	position: relative;

	.menu-open & {
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $blackBg;
			z-index: 11;
		}
	}

	// .header__inner

	&__inner {
		@include adaptiveValue("padding", 30, 15);
	}

	// .header__menu

	&__menu {}
}

.menu-header {

	// .menu-header__list

	&__list {
		display: flex;
		gap: rem(10);

		@media (max-width:$mobileSmall) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			text-align: center;
			padding-top: rem(100);
			background-color: $grey;
			transition: all 0.3s ease 0s;
			gap: rem(30);
			z-index: 10;
			overflow: auto;

			.menu-open & {
				top: 0;
			}
		}
	}

	// .menu-header__icon

	&__icon {}
}

.list-header {

	// .list-header__item

	&__item {
		&:not(:last-child) {
			@media (min-width:$mobileSmall) {
				padding-right: rem(10);
				border-right: rem(1) solid #FFFFFF;
			}
		}
	}

	// .list-header__link

	&__link {
		text-transform: uppercase;
		font-size: rem(15);

		@media (max-width:$mobileSmall) {
			font-size: rem(25);
		}

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.item-header {}


//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobileSmall) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 12;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #ffffff;
			z-index: 12;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}