.logo-anime-pictures {
    padding: rem(30) rem(30) rem(0) rem(30);

    &:not(:last-child) {
        margin-bottom: rem(85);
    }
}

.anime-pictures {
    // .anime-pictures__container

    &__container {}

    // .anime-pictures__slider

    &__slider {
        &:not(:last-child) {
            margin-bottom: rem(34);
        }
    }

    // .anime-pictures__wrapper

    &__wrapper {}

    // .anime-pictures__slide

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .anime-pictures__pagination

    &__pagination {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    // .anime-pictures__button

    &__button {
        margin-bottom: rem(108);
        width: rem(367);
    }
}

.slide-anime-pictures {

    // .slide-anime-pictures__img

    &__img {
        img {
            max-width: 100%;
            border-radius: rem(45);
        }
    }
}